* {
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-padding-bottom: 2rem;
    scroll-behavior: smooth;
}

body {
    height: 100%;
}

body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

main {
    margin: 0 0 0;
}

.layout {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*-----HEADER-----*/

.header-page {
    position: fixed;
    width: 100%;
    z-index: 120;
    background: rgba(11, 20, 25, 0.9);
    padding: 15px 0;
}

.header-page__container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    width: 80%;
}

.logo button {
    color: #ffb300;
    margin-bottom: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 28px;
}
.logo button span {
    color: #fff;
}

.header-page__start {
    min-width: 60%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
    gap: 40px;
}

.header-page__nav {
    width:70%;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    padding: 0px;
    margin-left:0;
}

.header-page__ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.header-page__li a {
    text-decoration: none;
    color: #fff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.header-page__li a:hover {
    color: #ffb300;
    transition: all ease 0.3s;
}

.header-page__end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-account-icon span a {
    cursor: pointer;
    font-size: 18px;
    color:#fff;
}

.header-account-icon span a:hover {
    color:#ffb300;
}

.header-registration__login {
    display: flex;
    flex-direction: row;
}

.header-registration__login div {
    margin-left: 5px;
    margin-right: 5px;
}

.header-registration__login div span {
    cursor: pointer;
    color: #ffb300;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.header-registration__login div span:hover {
    color: #ffa000;
    transition: all ease 0.3s;
}

.header-registration__login span{
    width: 6px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #a5a5a5;
}

.header-admin__dropdown {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: auto;
    height: auto;
    background: rgba(11, 20, 25, 0.9);
    top: 70px;
    border: 1px solid rgba(11, 20, 25, 0.9);
    border-radius: 10px;
}


/*-----BURGER_MENU-----*/

.header-page__hamburger {
    display: none;
    margin-right: -15px;
}

.btn-menu {
    background: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    padding: 15px;
    border: 0;
}
  
.btn-menu__box {
    display: inline-block;
    width: 40px;
    height: 24px;
}
  
.btn-menu__inner::before,
.btn-menu__inner::after,
.btn-menu__inner {
    background: #fff;
    width: 100%;
    height: 4px;
    border-radius: 5px;
}

.btn-menu__inner {
    display: block;
    top: 40%;
    position: relative;
}
  
.btn-menu__inner::before,
.btn-menu__inner::after {
    content: '';
    position: absolute;
    left: 0;
}
  
.btn-menu__inner::before {
    top: -10px;
}
  
.btn-menu__inner::after {
    bottom: -10px;
}

.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 77px;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.2s;
}

.menu.active {
    transform: translateX(0);
}

.menu-content {
    width: 40%;
    height: 100%;
    background: rgba(11, 20, 25, 0.9);
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
}

.menu-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}

.menu-header__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-phone {
    display: flex;
}

.header-phone__item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: background .2s, opacity .2s;
}
  
.header-phone__item:hover {
    color: #ffb300;
}
  
.header-phone__item:active {
    opacity: 0.8;
}

.dropdown-list__language-menu {
    display: none;
}

@media (max-width: 1200px) {
    .header-page__ul {
        gap: 20px
    }
}
  
@media (max-width: 992px) {
    .header-page__nav {
      display: none;
    }

    .header-page__end {
        display: none;
    }
  
    .header-page__hamburger {
      display: block;
    }

    .header-page__container {
        width: 97%;
    }
  
    .header-page {
      padding: 10px 0;
    }
}

@media screen and (max-width:768px) {
    .menu-content {
        width: 100%;
    }
}

/*-----LANGUAGE-----*/

.dropdown-language__select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    isolation: isolate;
    width: 136px;
    height: 32px;
    cursor: pointer;
}

.icon-language {
    width: 22px;
    height: 16px;
    margin-right: 6px;
}

.dropdown-language__select-tittle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 95px;
    height: 19px;
    border-radius: 10px;
}

.titte-language {
    width: 86px;
    height: 19px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    cursor: pointer;
    color:#fff;
}

.titte-language:hover {
    color: #ffb300;
    transition: all ease 0.3s;
}

.chevron-down__language {
    width: 16px;
    height: 16px;
}

.dropdown-list__language {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: auto;
    height: 95px;
    background: rgba(11, 20, 25, 0.9);
    top: 70px;
    border: 1px solid rgba(11, 20, 25, 0.9);
    border-radius: 10px;
}

.dropdown-none {
    display: none;
}

 
@media (max-width: 992px) {
    .dropdown-list__language {
        display: none;
    }
    
    .dropdown-list__language-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        gap: 15px;
    }
}


/*-----FOOTER-----*/
footer {
    background: linear-gradient(to top, #2d2c2c, #1f1f1f);
    padding: 25px 0;
    margin-top: auto;
    z-index: 100;
}

footer div {
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer div span {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255, 255, 255, .3);
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}
