.modal-log__reg {
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.6s;
}

.modal-log__reg.modal-log__reg-active {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    backdrop-filter: blur(3px);
}

.modal-log__reg-content {
    padding: 25px;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    transition: all 1s;
    background: rgba(11, 20, 25, 0.9);
}

.modal-registration {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-registration-close {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.modal-registration-close span {
    font-size: 28px;
    color: #FFFFFF;
}

.modal-registration-close img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.modal-registration-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.form-hook-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.form-register {
    box-sizing: border-box;
    height: 48px;
    width: 95%;
    color: #FFFFFF;
    background: rgba(11, 20, 25, 0.9);
    border: 1px solid #3f3f3f;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.form-hook-registration label {
    position: absolute;
    left: 30px;
    top: 14px;
    padding: 0 0.3rem;
    cursor: text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    transition: top 100ms ease-in,left 100ms ease-in, font-size 100ms ease-in;
    background-color: rgba(11, 20, 25, 1);
    cursor: pointer;
}

.form-register:hover {
    border: 1px solid rgb(240, 160, 12);
    transition: all ease 0.4s;
}

.form-hook-registration input:focus {
    border: 1px solid rgb(240, 160, 12);
    outline: none;
    transition: all ease 0.4s;
}

.form-hook-registration input:focus ~ label,
.form-register:not(:placeholder-shown).form-register:not(:focus)~.register-label {
    top:-8px;
    font-size: 13px;
}

.register-error {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 5px;
    margin-top: 5px;
}

.register-error i {
    color: brown;
    font-size: 18px;
}

.register-error span {
    color: brown;
    font-size: 14px;
}

.form-register__or-login {
    margin-top: 10px;
}

.form-register__or-login button {
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
}

.form-register__or-login button:hover {
    color: rgb(240, 160, 12);
    transition: all ease 0.4s;
}
.form-regisrer-btn {
    margin-top: 10px;
}

.form-regisrer-btn input {
    background-color: #ff5441;
    color: #fff;
    display: inline-block;
    padding: 18px 20px;
    width: 240px;
    max-width: 100%;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: .02em;
    box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
    transition: background .2s;
}

.form-regisrer-btn input:hover {
    background: #ec4b38;
}


@media (max-width: 1024px) {
    .modal-log__reg-content {
        width: 60%;
        height: 80%;
    }
}

@media (max-width: 768px) {
    .modal-log__reg-content {
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 480px) {
    .modal-log__reg-content {
        width: 97%;
        height: 97%;
    }
}
