.modal { 
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.6s;
}

.modal-active {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    backdrop-filter: blur(3px);
}

.modal-content {
    padding: 25px;
    background-color: #fff;
    border-radius: 20px;
    width: 50%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
}

.modal-header h2 {
    text-align: center;
    font-size: 28px;
}

.modal-header p {
    font-size: 17px;
}

.modal-form {
    width: 100%;
}

.modal-form form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
}

.modal-form__input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-form__input input,select {
    width: 50%;
    border-radius: 50px;
    border: 1px solid silver;
    height: 45px;
    padding: 10px;
    outline: none;
    cursor: pointer;
}

.modal-form__input input:hover, select:hover {
    border: 1px solid #ffa000;
}

.modal-form__input input:focus, select:focus {
    border: 2px solid #ffa000;
}

.modal-form__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__btn {
    background-color: #ffb300;
    color: #000;
    display: inline-block;
    height: 55px;
    width: 40%;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    text-align: center;
    letter-spacing: .02em;
    transition: background .2s;
}

.form__btn:hover {
    background: #ffa000;
}
